/id3inspector
/id3/*.o
/flacinspector
/flac/*.o
/mpeginspector
/mpeg/*.o
/riffinspector
/riff/*.o
/test/test
/test/*.o
/vorbisinspector
/vorbis/*.o
/asfinspector
/asf/*.o
/apeinspector
/ape/*.o
/common/.object-files/
/general/*.o
/generalinspector
/common/libcommon.a
/common/.dependency-files/
/common/source/type_library_path.h
/common/test/test
/common/test/test.o
/examples/preparations/
/examples/ideas/
