/apeinspector
/asfinspector
/flacinspector
/generalinspector
/id3inspector
/mpeginspector
/riffinspector
/vorbisinspector

/common/.dependency-files/
/common/.object-files/
/common/libcommon.a
/common/source/type_library_path.h
/common/test/test
/common/test/test.o

/inspectors/ape/*.o
/inspectors/asf/*.o
/inspectors/flac/*.o
/inspectors/general/*.o
/inspectors/id3/*.o
/inspectors/mpeg/*.o
/inspectors/riff/*.o
/inspectors/vorbis/*.o

/test/test
/test/*.o

/examples/preparations/
/examples/ideas/
